version: "3.7"
services:
  redis:
    image: redis:alpine
    command: redis-server --appendonly yes
    volumes:
      - ./db/data:/data
  web:
    image: gitlab.cs.uni-duesseldorf.de:5001/cn-tsn/project/shorty:latest
    ports:
      - "5007:8080"
    env_file:
      - production.env