<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Shorty</title>
  <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
</head>
<body>
<div class="container pt-3">
  <h1 class="text-center">
    Shorty: URL Shortener
  </h1>
  <p class="lead text-center">
    Create personalized short-links
  </p>

  <div class="alert alert-warning" id="error-message" th:if="${error} != null" th:text="${error}">
    Some error message
  </div>

  <div class="alert alert-success" id="success-message" th:if="${success} != null" th:text="${success}">
    Some success message
  </div>

  <div sec:authorize="isAnonymous()" class="alert alert-info" role="alert">
    To access the admin panel, you must first login.
  </div>

  <div sec:authorize="isAnonymous()">
    <form th:action="@{/login}" method="post">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password"/>
      </div>
      <input class="btn btn-primary" type="submit" value="Log in"/>
    </form>
  </div>

  <div class="alert alert-warning" th:if="${param.error}">
    Wrong Username or Password!
  </div>
  <div class="alert alert-success" th:if="${param.logout}">
    Logout successful!
  </div>

  <div sec:authorize="isAuthenticated()">
    <form th:action="@{/logout}" method="post">
      <input class="btn btn-primary" type="submit" value="Logout"/>
    </form>
  </div>


  <div sec:authorize="hasRole('ADMIN')" id="new-link">
    <form method="post" th:action="@{/}"
          th:object="${link}">
      <div class="form-group">
        <label for="url">Add the destination URL of your short link</label>
        <input class="form-control" id="url" name="url" placeholder="URL, e.g. 'https://google.de'" required
               th:errorclass="is-invalid" th:value="*{url}" type="url">
        <span class="text-danger" th:errors="*{url}" th:if="${#fields.hasErrors('url')}"></span>
      </div>
      <div class="form-group">
        <label for="abbreviation">Please add an (optional) name for your short link</label>
        <input class="form-control" id="abbreviation" name="abbreviation" placeholder="Abbreviation, e.g. 'foo'"
               th:errorclass="is-invalid" th:maxlength="${maxAbbreviationLength}" th:value="*{abbreviation}"
               type="text">
        <span class="text-danger" th:errors="*{abbreviation}"
              th:if="${#fields.hasErrors('abbreviation')}"></span>
      </div>
      <input class="btn btn-primary" type="submit" value="Create short link">
    </form>
  </div>

  <hr class="m-5">

  <div sec:authorize="isAuthenticated()" id="links" th:if="${links}">
    <table class="table">
      <thead>
      <tr>
        <th>Abbreviation</th>
        <th>Destination</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody th:remove="all-but-first">
      <tr th:each="link : ${links}" th:object="${link}">
        <td>
          <span th:text="*{abbreviation}">
            hhu
          </span>
        </td>
        <td>
          <span th:text="*{url}">
            https://hhu.de
          </span>
        </td>
        <td>
          <form method="post" th:action="@{/{abbreviation}/delete(abbreviation=*{abbreviation})}">
            <input class="btn btn-outline-dark btn-sm" type="submit" value="Delete">
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
