<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shorty</title>
  <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
        th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
</head>
<body>
<div class="container pt-3">
  <h1 class="text-center">
    Shorty: URL Shortener
  </h1>
  <p class="lead text-center">
    Create personalized short-links
  </p>

  <div id="error-message" th:classappend="${error != null} ? 'alert alert-warning'" th:text="${error}">
    Some error message
  </div>

  <div id="success-message" th:classappend="${success != null} ? 'alert alert-success'" th:text="${success}">
    Yeah, it works!
  </div>

  <div id="new-link">
    <form method="post" th:object="${link}">
      <div class="form-group">
        <label for="url">Add the destination URL of your short link</label>
        <input class="form-control" id="url" name="url" placeholder="URL" required
               th:errorclass="is-invalid" th:value="*{url}" type="url">
        <span class="text-danger" th:errors="*{url}" th:if="${#fields.hasErrors('url')}"></span>
      </div>
      <div class="form-group">
        <label for="abbreviation">Please add an (optional) name for your short link</label>
        <input class="form-control" id="abbreviation" name="abbreviation" placeholder="Abbreviation, e.g. 'foo'"
               th:errorclass="is-invalid" th:value="*{abbreviation}" type="text">
        <span class="text-danger" th:errors="*{abbreviation}" th:if="${#fields.hasErrors('abbreviation')}"></span>
      </div>
      <input class="btn btn-primary" type="submit" value="Create short link">
    </form>
  </div>

  <hr class="m-5">

  <div id="links" th:if="${links}">
    <table class="table">
      <thead>
      <tr>
        <th>Abbreviation</th>
        <th>Destination</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody th:remove="all-but-first">
      <tr th:each="l : ${links}">
        <td>
          <span th:text="${l.abbreviation}">
            hhu
          </span>
        </td>
        <td>
          <span th:text="${l.url}">
            https://hhu.de
          </span>
        </td>
        <td>
          <form action="#" method="POST" th:action="'/' + ${l.abbreviation} + '/delete'">
            <input class="btn btn-outline-dark btn-sm" type="submit" value="Delete">
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<!--<script src="../static/node_modules/jquery/dist/jquery.min.js"
        th:src="@{node_modules/jquery/dist/jquery.min.js}"></script>-->
<!--<script src="../static/node_modules/popper.js/dist/popper.min.js"
        th:src="@{node_modules/jquery/popper.js/dist/popper.min.js}"></script>-->
<script src="../static/node_modules/bootstrap/dist/js/bootstrap.min.js"
        th:src="@{node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
</html>
